---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Posts from "../../components/Posts.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
	<h1>Posts</h1>
	<Posts {posts} />
</Layout>
