---
interface Props {
	items: {
		title: string;
		subtitle?: string;
		period?: string;
	}[];
}

const { items } = Astro.props;
---

<ul class="flex flex-col gap-y-4 list-none p-0">
	{
		items.map((item) => (
			<li class="flex flex-col gap-y-1">
				<h3 class="text-base">{item.title}</h3>
				{item.subtitle && (
					<span class="text-sm m-0">{item.subtitle}</span>
				)}
				{item.period && (
					<span class="text-sm m-0 opacity-50">{item.period}</span>
				)}
			</li>
		))
	}
</ul>
